a{
    text-decoration: none;
    color: #fff;
}
a:hover{
    color:#fff;
}
ul, li {
    list-style: none;
}
.main-banner-3{
    background-image: url(../img/h1-parallax-img-1-1.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
.main-banner{
    background-image: url(../img/h1-port-feauture-img-2-700x884.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
   background-position: top;
   height: 80vh;
}
.main-banner-1{
    background-image: url(../img/h1-port-feauture-img-1-700x857.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
   background-position: top;
   height: 80vh;
}
.main-banner-4{
  background-image: url(../img/h1-parallax-img-1-1.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
ul li a:hover{
  color: #f4f0ed!important;
}
.banner-content button{
  transition: 1s;
}
.banner-content button:hover{
  background-color: #757b66!important;
}
.main-font{
font-family: 'Cormorant Garamond';
}
.sub-font{
    font-family: 'Mulish';
}
.text-font{
    font-family: 'Bonheur Royale';
}
body{
    font-family:'Cormorant Garamond';
  color: #4D504A;
  background-color: #f4f0ed;
  overflow-x: hidden;
}
.card img{
  transition: 2s;
}
.card img:hover{
  transform: translatey(3%);
}
.standard button:hover{
  background-color: transparent!important;
  border: 1px solid #757b66!important;
  
}
.standard button{
  transition: 1s;
}



.standard button:hover a{
  color: #757b66!important;
}

/* faq start */
.faq-item-hide {
    display: none;
}

.faq-heading {
  font-family: Montserrat;
  padding-top: 15px;
  font-weight: 600;
  font-size: 19px;
  text-indent: 10px;
  color: #111111c3;
  transition: text-indent 0.2s;
}

.faq-text {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  color: #111;
  padding-left: 20px;
  padding-right: 100px;
  margin-bottom: 20px;
  opacity: 0; /* Inicialmente invisível */
  transition: opacity 0.6s ease-in-out; /* Transição de opacidade */
}

.faq {
  width: 100%;
  margin: 0 auto;
  background: white;
  border-radius: 4px;
  position: relative;
 /* border: 1px, solid #E1E1E1*/;
}

.faq label {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: 50px; /* Ajustar conforme necessário */
  padding-top: 8px;
  padding-bottom: 10px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  transition: all 0.3s ease; /* Suaviza a transição da borda */
  box-sizing: border-box; /* Garante que a borda seja incluída no cálculo da dimensão */
}

.faq input[type="checkbox"] {
  display: none;
}

.faq .faq-arrow {
  width: 10px;
  height: 10px;
  transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-top: 2px solid #111111c3;
  border-right: 2px solid #111111c3;
  float: right;
  position: relative;
  top: -30px;
  right: 27px;
  transform: rotate(45deg);
}

.faq input[type="checkbox"]:checked + label > .faq-arrow {
  transform: rotate(135deg);
}

.faq input[type="checkbox"]:checked + label {
  /*background: #;*/
  color: #4D504A;
  height: auto; /* Altura ajustada para conteúdo */
  transition: height 0.8s, border 0.3s ease; /* Adiciona transição para borda */
  padding-top: 0; /* Ajusta o padding */
}

.faq input[type='checkbox']:not(:checked) + label {
  height: 70px;/* Altura quando não checado */
}

/* Aplica borda somente no lado esquerdo para hover e quando está checado */
.faq label:hover, .faq input[type="checkbox"]:checked + label {
  border-left: 3px solid #111111c3; /* Bordas somente no lado esquerdo */
  padding-left: 17px; /* Ajuste no padding para compensar a borda */
}

.faq input[type="checkbox"]:checked + label .faq-text {
  opacity: 1; /* Torna o texto visível ao expandir */
}

/* Remove a barra de rolagem 
  display: none;
}

::-webkit-scrollbar {*/

@media (max-width: 768px) {
  .faq-heading {
    font-size: 12px;
    padding-right: 40px;
    padding-left:10px;
    text-indent: 0px;
  }

  .faq-text {
    font-size: 12px;
    padding-right: 50px;
  }
  
  .faq input[type='checkbox']:not(:checked) + label {
  height: 60px;/* Altura quando não checado */
}
}
#showMore, #showLess {
    display: inline-block;
    margin: 20px auto;
    background-color: transparent;
    color: #4D504A;
    font-weight: 500;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-position: right 5px center;
    padding-right: 40px; /* Ajuste para não sobrepor o texto ao ícone */
}

/* Opcional: Adiciona um efeito ao passar o mouse para indicar interatividade */
#showMore:hover, #showLess:hover {
    color: #4FBB9D;
    transition: background-color 0.3s;
}
/* faq end */

/* counter js start */
#counter{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 40px 0px;
  width: 100%;
}
#counter .item{
  background: transparent;
 
  padding: 35px 40px;
  margin: 10px;
  text-align: center;

 
} 
#counter .item .count{
  color: #4d504a3e;
  margin-bottom: 5px;
  font-size: 50px;
}
#counter .item h3{
  color: #4f4e28b7;
 
  text-transform: capitalize;
}
/* counter js end */
